
/*  */
/* BootStrap overwritte */
/*  */
body {
    padding-bottom: 20px;
}
  
.navbar {
    margin-bottom: 20px;
}
  
.nav-pills .nav-link.active {
    background-color: rgb(231, 167, 84) !important;
}

.nav-link {
    color: azure;
}

.nav-link:hover {
    color: rgb(231, 167, 84);
}
